<div>
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main">
        <div class="navbar-brand navbar-brand-center">
            支付成功
        </div>
    </div>
    <div class="scrollable background-white">
        <div class="scrollable-content">
            <div class="nav-main-block">
            </div>
            <div class="fill-area status-box">
                <div class="list-group">
                    <div class="status-title" style="border-bottom:0;padding-top:20%;">
                        <div class="cart-success status-success"></div>
                        产品订购成功
                    </div>
                    <div class="status-instruction text-center">
                        请至微信内查看订单详情
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
