<style>
.myPhone-item-title{
    margin:10px;
}
.myPhone-item-text{
     margin:10px;
     position:relative;
}

.myPhone-item-text img{     
     position:absolute;
     height:2.2em;
     top:0.6em;
     left:0.6em
}
.myPhone-item-text .fa{     
     position:absolute;
     font-size:1.8em;
     top:0.4em;
     left:0.4em;
     color:#F25A65;
}
.fa-unlock-alt:before {
  content: "\f13e";
}

.myPhone-item-text .button-code {
	position: absolute;
	top: -0.3em;
	right: 0.8em;
	width: 9.0em;
	font-size: .9em;
	background-color: #fff;
	border: 1px solid #f75757;
	color: #f75757;
}
.myPhone-item-text button{
     margin-top:5px;
     width: 99%;
     color:#ffffff;
     font-size:1.3em;
     background-color:#51BF87;
     border:1px solid #56C18A;
     height:2.5em;
}
.myPhone-item-text input{
	width: 100%;
	border: 0px solid #eeeeee;
	border-bottom: 1px solid #eeeeee;
	color: #000000;
	height: 3.0em;
	padding-left: 0em;
	outline: none;
}
</style>
<div ng-controller="forgotController">
    <!-- Navbars -->
    <div class="navbar navbar-app nav-main">
        <div class="navbar-brand navbar-brand-center">
            <span>找回密码</span>                    
        </div>
        <div class="btn-group pull-left" ng-click="back()">
            <div class="btn btn-navbar sidebar-toggle">
                <div class="btn-to-back">
                </div>
            </div>
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content">            
            <div class="myPhone-content">
                <div class="nav-main-block"></div>    
				
				
                <div class="myPhone-item" style="background:#fff;margin-top:0;padding-top:10px;">
					<div class="myPhone-item-text">
                        <span class="col-xs-3" style="height: 3em;line-height: 3em;">手机号</span>
						<span class="col-xs-9"><input type="text" ng-model="username" id="myPhoneNumber" placeholder="11位数字" onkeydown="checkNumber(this,false);"/></span>
						
						<div class="clear"></div>
                     </div>
					 
					 <div class="myPhone-item-text">
                        <span class="col-xs-3" style="height: 3em;line-height: 3em;">验证码</span>
						<span class="col-xs-9">
							 <input type="tel" ng-model="code" id="myPhoneCode" placeholder="4位数字"/>
                        <button class="button-code" ng-click="getCheckCode();" ng-disabled="wait<60"><span id="codeClock" style="display:none;color:#F25A65;font-weight:bold;">{{wait}}</span> 获取验证码</button>
						
						</span>
						
						<div class="clear"></div>
                     </div>
					 
					 <div class="myPhone-item-text">
                        <span class="col-xs-3" style="height: 3em;line-height: 3em;">新密码</span>
						<span class="col-xs-9"><input type="password" ng-model="password" id="myPhoneNumber" placeholder="6-20字母、数字和字符"/></span>
						
						<div class="clear"></div>
                     </div>
                </div> 
				<div class="myPhone-item">
                     <div class="myPhone-item-text" style="text-align:center;margin-top:25px;">
                        <button class="btn" ng-click="register();" style="width:80%;background:#ff5757;border:#ff5757;">确定</button>
                     </div>



                     <div class="myPhone-item-text" ng-if="!isSetMobile" style="text-align:center;margin-top:40px;">
                        
                     </div>
				</div>
            </div>


        </div>
    </div>
</div>