<div ng-controller="downloadController">
    <!--<div class="app-download media" ng-if="show == true">-->
    <div class="app-download media" ng-if="1 == 2">
        <div class="pull-left">
            <img src="image/icon_logo.png" alt="" class="icon-logo" />
        </div>
        <div class="pull-right">
            <button type="button" class="btn btn-default btn-download" ng-click="download()">
                立即下载</button>
        </div>
        <div class="media-body">
            <div class="download-title">
                购轻松台湾</div>
            <div class="download-instruction">
                go轻松，购轻松，够轻松</div>
        </div>
        <div class="download-close" ng-click="close()">
            <img src="image/icon_close.png" alt="" />
        </div>
    </div>
</div>
