<style>
    #viewport {
        position: relative;
        width: 100%;
        margin: 0 auto;
        background: #eee;
        overflow: hidden;
    }

    #wrapper {
        width: 100%;
        margin: 0 auto;
    }

    #scroller {
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 400%;
        min-height: 30px;
        -webkit-transform: translateZ(0);
        -moz-transform: translateZ(0);
        -ms-transform: translateZ(0);
        -o-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-text-size-adjust: none;
        -moz-text-size-adjust: none;
        -ms-text-size-adjust: none;
        -o-text-size-adjust: none;
        text-size-adjust: none;
        background-color: #eee;
    }

    .slide {
        width: 25%;
        float: left;
    }

    #indicator {
        position: relative;
        width: 55px;
        height: 10px;
        margin: 10px auto;
        background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAUBAMAAABohZD3AAAACXBIWXMAAAsTAAALEwEAmpwYAAAAB3RJTUUH3QUGCDYztyDUJgAAAB1pVFh0Q29tbWVudAAAAAAAQ3JlYXRlZCB3aXRoIEdJTVBkLmUHAAAAGFBMVEUAAADNzc3Nzc3Nzc3Nzc3Nzc3Nzc3///8aWwwLAAAABnRSTlMAX5Ks3/nRD0HIAAAAAWJLR0QHFmGI6wAAAFtJREFUGFdjYGBgEHYNMWRAAJE0IHCEc5nSwEABxleD8JOgXMY0KBCA8FlgfAcIXwzGT4TwzWD8ZAjfDcZPgfDDYPxU7Hx09ejmoduH7h5096L7B8O/6OGBGl4APYg8TQ0XAScAAAAASUVORK5CYII=);
        background-size:15px;
        margin-top: -25px;
    }

    #dotty {
        position: absolute;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        background: #F15155;
    }
    a:focus {
      color: #0055b3;
      text-decoration: underline;
    }

    a:focus {
      outline: none;
      outline: 0;
      outline-offset: 0px;
    }
    a:active,
    a:hover {
        outline: 0;
    }
    #viewport.larger {
        position: absolute;
        z-index: 99999;
        width: 100%;
        top: 4.5em;
    }
    .discount-des{
    	color: #ffffff;
		background-color: #FEB33E;
		padding: 3px;
		border-radius: 0px;
		box-shadow: 1px 1px 0px #ddd;
    	font-size: .8em;
    }
</style>
<div>
    <ng-include src="'views/goods/download.html'"></ng-include>
    <div class="btn-back new" ng-click="back()">
        <div class="btn-left new">
        </div>
    </div>
    <div class="scrollable">
        <div class="scrollable-content background-product">

            <div id="viewport" class="preventDefault">
                <div id="wrapper">
                    <div id="scroller">
                    </div>
                    <div class="pager_control new hide" style="display:none;">
                        <span id="spanCurrPage">0</span> / <span id="spanTotalsCount">0</span>
                    </div>
                </div>
            </div>
            <div id="indicator">
                <div id="dotty"></div>
            </div>
            
            <div class="list-group product-style" style="border-top: 1px solid #eee;">
                <div class="background-white" style="border-bottom:1px solid #eee;">
                    <div class="list-group-item media" style="padding:10px 0;margin:0 15px;border:0;">                    
                        <div class="media-body product-cur-name-new" style="padding-bottom:.5em;border-bottom:1px solid #eee;">{{product.name}}</div>

						<div class="product-price-new" style="padding:.5em 0;font-size:1.1em;color:#666;" ng-if="product.ltPrice!=0.00 && product.ltPrice">
                            <span style="font-weight:normal;">乐天价</span>&nbsp;&nbsp;
                            <span style="display:inline;font-weight:normal;">￥{{product.ltPrice}}</span>
                        </div>
						
                        <div class="product-price-new" style="padding:.0em 0;font-size:1.1em;color:#666;">
                            <span style="font-weight:normal;">平台价</span>&nbsp;&nbsp;
                            <span style="display:inline;font-weight:normal;">￥{{product.promotePrice}}</span>
                        </div>

                         <div class="product-price-new" style="padding:.5em 0;font-size:1.1em;color:#D0261A;">
                            <span style="font-weight:normal;">领队价</span>&nbsp;&nbsp;
                            <span style="font-weight:normal;display:inline;font-size:1.2em;">
							￥{{product.ldPrice || product.promotePrice}}<span style="font-weight:normal;display:inline;font-size:.7em;">(比平台价省{{product.js}}元)</span>
							</span>
                            
                        </div>

                        
                    </div>
                </div>
				
                <div id="orderNumber" style="display:none;">
                    <div class="list-group-item media" style="width: 94%;margin-left: 3%;padding-left: 0;padding-right: 0;">
                        <div class="order-num fullwidth">
                            <div class="title">购买数量</div>
                            <div class="modify-area">
                                <div class="input-group">
                                    <input type="hidden" value="{{product.promotePrice}}" />
                                    <div class="input-group-addon num-addon addon-minus"
                                        onclick="reduceNum(this);">
                                    </div>
                                    <input style="width:45px;" value="{{product.num}}" class="form-control input-num" type="text" onblur="countTotal(this);" onkeydown="checkNumber(this,false);" onkeyup="checkNumberTwo(this,false);">
                                    <div class="input-group-addon num-addon" onclick="addNum(this);">
                                    </div>
                                </div>
                            </div>                            
                        </div>
                        <div><span class="product-inventory">库存：{{product.goodsNum}}</span></div>
                    </div>
                    <div class="media">
                        <div class="product-price-new" style="text-align:left;width: 94%;margin-left: 3%;">
                            <span style="color:#000000;font-weight: normal;">总计</span>
                            <span class="promotePriceNew promotePriceNewTotal" style="display:inline-block;">￥{{product.promotePrice}}</span>                            
                        </div>
                        <button type="button" class="btn btn-default btn-add-cart-buy-cancel middlewidth" onclick="closeDialog()">
                                取消</button>
                        <button type="button" class="btn btn-default btn-add-cart-new middlewidth btn-add-to-cart" style="margin-top:7px;">
                        加入购物袋</button>
                    </div>
                </div>

            </div>

            <div class="list-group product-style content-margin-top">
                <div class="list-group-item item-title">
                    商品介绍
                </div>
                <div class="list-group-item product-content">
                </div>
            </div>
            <div class="nav-bottom-block">
            </div>
        </div>
    </div>
    <div class="div-nav-cart-background">
    </div>
    <div class="div-nav-cart" ng-click="cart()"><!--ng-controller="cartNumController"-->
        <div class="cart-num-mark" ng-show="cartQuantity > 0">
            {{cartQuantity}}</div>
        <div class="cart-name">
            购物袋</div>
    </div>
    <div class="nav-bottom-background">
    </div>
    <div class="nav-bottom new">
        <div class="media" style="line-height:65px;">
            
            <div class="col-xs-6">
                <button type="button" class="btn btn-default btn-buy-new" ng-click="go(product.goodsNum)">
                    立即购买</button>
            </div>   
			
			<div class="col-xs-6">
                <button type="button" class="btn btn-default btn-add-cart-new" ng-click="addToCart(product.goodsNum)">
                    加入购物袋</button>
            </div>
        </div>
    </div>
</div>